@using CPSeed.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="shop-box-inner register-form">
    <div class="register">
        <div class="container">
            <div class="row content">
                <div class="col-md-6" id="loginForm">
                    <h2 class="font-weight-bold mt-2 register-title">@ViewBag.Title.</h2>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr style="height:1px; background-color:#28a745" />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "row px-3 control-label" })
                            <div class="col-md-12 p-0">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "row px-3 control-label" })
                            <div class="col-md-12 p-0">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 p-0">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group btn-register">
                            <input type="submit" class="btn btn-outline-success" value="Login" />
                        </div>
                            @Html.ActionLink("Register as a new user", "Register")
                        @*<br />
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")*@
                    }
                </div>
                @*<div class="col-md-4">
                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
