@model PagedList.IPagedList<CPSeed.Models.Product>
@using PagedList.Mvc;
@using CPSeed.Util;
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<div role="tabpanel" class="tab-pane fade show active" id="grid-view">
    <div class="row">
        @foreach (var item in Model)
        {
            var link = "/san-pham/" + Common.str(item.ProductName) + "-" + item.ProductID;
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="~/images/Product/@item.image" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a style="background-color:#5c8416" href="@link" data-toggle="tooltip" data-placement="right" title="Xem ngay"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <a class="cart" itemid="@item.ProductID" onclick="AddToCart(this)">@Resource.Add</a>
                        </div>
                    </div>
                    <div class="why-text" style="background: #f5f5f54a">
                        <h4>@item.ProductName</h4>
                        <h5 style="background-color:#5c8416">@item.SellPrice VNĐ</h5>

                    </div>
                </div>
            </div>
        }
    </div>
    <div class="MenuTrang" style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("GetPaging", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "product" }))
    </div>
</div>