@model CPSeed.Models.Post

@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("AddPost", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand" href="index">
                <h1 class="tm-site-title mb-0">Product Admin</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-file-alt"></i> Report
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="Product">
                            <i class="fas fa-shopping-cart"></i> Product
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="Post">
                            <i class="fas fa-file-alt"></i> Post
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="Slide">
                            <i class="fas fa-file-alt"></i> Slide
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="Contactus">
                            <i class="fas fa-file-alt"></i> Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="NewsDetail">
                            <i class="fas fa-file-alt"></i> News
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="Order">
                            <i class="fas fa-file-alt"></i> Order
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Account">
                            <i class="far fa-user"></i> Account
                        </a>
                    </li>



                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="Login">
                            Admin, <b>Logout</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Add Post</h2>
                        </div>
                    </div>
                    <div style="padding-left:20px" class="row tm-edit-product-row">
                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <label for="name">
                                Post ID
                            </label>
                            <input placeholder="Post ID là số"
                                   name="PostID"
                                   type="text"
                                   class="form-control validate"
                                   required />
                            @ViewData["Loi1"]
                        </div>

                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <label for="name">
                                Title
                            </label>
                            <textarea name="Title" id="description"></textarea>
                            @ViewData["Loi2"]
                        </div>

                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <label for="name">
                                Summary
                            </label>
                            <textarea name="Summary" id="description"></textarea>
                            @ViewData["Loi3"]
                        </div>

                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <label for="name">
                                Content
                            </label>
                            <textarea name="Content" id="description"></textarea>
                            @ViewData["Loi4"]
                        </div>

                        <div style="padding-left:15px" class="form-group mb-3">
                            <label for="name">
                                Category
                            </label>
                            @Html.DropDownList("CategoryPost", (IEnumerable<SelectListItem>)ViewBag.CategoryPost, new { @class = "custom-select tm-select-accounts" })
                            @ViewData["Loi5"]
                        </div>
                        
                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <div style="padding-top:18px" class="custom-file mt-3 mb-3">
                                <input type="text" name="picture" id="picture" readonly class="form-control" style="color:black"/>
                                <input type="file" accept="image/*" id="fileUpload" name="fileUpload" style="display:none" ; />
                                <input type="button"
                                       id="btnUpload"
                                       class="btn btn-success btn-primary btn-block mx-auto "
                                       value="UPLOAD POST IMAGE" />
                                @ViewData["Loi6"]
                                <img id="pictureUpload" width="725" height="300" />
                            </div>
                        </div>
                    </div>                    
                    <div style="padding-top:150px; padding-left:35px" class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Post Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section upload
{
    <script>
        $(function () {
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });
            $('#fileUpload').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);
                    $.ajax(
                        {
                            type: 'POST',
                            url: '/Admin/ProcessUpload',
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (urlImage) {
                                $('#pictureUpload').attr('src', urlImage);
                                $('#picture').val(urlImage);
                            },
                            error: function (err) {
                                alert('Có lỗi khi upload ' + err.statusText);
                            }
                        });
                }
            });
        });
    </script>
}

