@model CPSeed.Models.Post

@{
    ViewBag.Title = "DeletePost";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Delete Post</h2>
                        </div>
                    </div>
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <form action="" class="tm-edit-product-form">
                                <div class="form-group mb-3">
                                    <label for="name">
                                        Post ID
                                    </label>
                                    <input style="color:black"
                                           type="text"
                                           value="@Model.PostID"
                                           class="form-control validate"
                                           readonly
                                           required />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="name">
                                        Title
                                    </label>
                                    <textarea id="Title" name="description" readonly>@Model.Title</textarea>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="name">
                                        Summary
                                    </label>
                                    <textarea id="Summary" name="description" readonly>@Model.Summary</textarea>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="name">
                                        Content
                                    </label>
                                    <textarea id="Content" name="description" readonly>@Model.contents</textarea>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="name">
                                        Category
                                    </label>
                                    <input style="color:black"
                                           type="text"
                                           value="@ViewBag.Category"
                                           class="form-control validate"
                                           readonly
                                           required />
                                </div>
                            </form>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            <div style="padding-top:18px" class="custom-file mt-3 mb-3">
                                <input type="text" value="@Model.image" name="picture" id="picture" class="form-control" readonly style="color:black" />
                                <img src="@Url.Content("~/images/Post/" + Model.image)" id="pictureUpload" width="358" />
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block text-uppercase">Delete Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
