@model CPSeed.Models.NewDetail

@{
    ViewBag.Title = "DeleteNewsDetail";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("DeleteNewsDetail", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Delete News</h2>
                        </div>
                    </div>
                    <div style="padding-left:20px" class="row tm-edit-product-row">
                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <label for="name">
                                News Detail ID
                            </label>
                            <input style="color:black"
                                   readonly
                                   value="@Model.NewDetailID"
                                   name="NewDetailID"
                                   type="text"
                                   class="form-control validate"
                                   required />
                            
                        </div>

                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <label for="name">
                                Title
                            </label>
                            <textarea readonly name="Title" id="description">@Model.Title</textarea>
                           
                        </div>

                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <label for="name">
                                Summary
                            </label>
                            <textarea readonly name="Summary" id="description">@Model.Summary</textarea>
                            
                        </div>

                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <label for="name">
                                Content
                            </label>
                            <textarea readonly name="Content" id="description">@Model.contents</textarea>
                            
                        </div>

                        <div style="padding-left:15px" class="form-group mb-3">
                            <label for="name">
                                News Category
                            </label>
                            @ViewBag.News
                            
                        </div>

                        <div class="form-group mb-3 col-xs-12 col-sm-12">
                            <div style="padding-top:18px" class="custom-file mt-3 mb-3">
                                <input type="text" value="@Model.image" name="picture" id="picture" class="form-control" readonly style="color:black" />
                                <img src="@Url.Content("~/images/News/" + Model.image)" id="pictureUpload" width="725" />
                            </div>
                        </div>
                    </div>
                    <div style="padding-top:150px; padding-left:35px" class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Edit News Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}