@model IEnumerable<CPSeed.Models.OrderDetail>
@using CPSeed.Models;
@{
    ViewBag.Title = "EditOder";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("EditOrder", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <!-- row -->
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <h2 class="tm-block-title">Chi Tiết Đơn Hàng #@ViewBag.OrderID</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                            <table class="table" style="padding-right:50px">
                                <thead>
                                    <tr>                                        
                                        <th scope="col"><b>Sản Phẩm</b></th>
                                        <th scope="col"><b>Số Lượng</b></th>
                                        <th scope="col"><b>Tổng Tiền</b></th>
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr>                                            
                                            @{
                                                CPSeedContext data = new CPSeedContext();
                                                var a = data.Products.Where(n => n.ProductID == item.ProductID).SingleOrDefault();
                                                var b = data.Orders.Where(n => n.OrderID == item.OrderID).SingleOrDefault();
                                                ViewBag.Order = b;
                                                int sp = Decimal.ToInt32((decimal)item.SellPrice);
                                                ViewBag.SellPrice = sp;
                                            }
                                            <td><b>@a.ProductName</b></td>
                                            <td><b>@item.Quantity</b></td>
                                            <td><b>@ViewBag.SellPrice đ</b></td>
                                            <td>
                                                <a href="@Url.Action("DeleteOrder", "Admin", new { id = item.OrderDetailID , total = sp})">
                                                    <img src="~/images/icons/trash.svg" max-width="15px" />
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                                <tfoot>
                                    <tr>
                                        <th scope="col"><h5>TỔNG GIÁ</h5></th>                                        
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col"><h5>@ViewBag.Order.Total</h5></th>
                                        <th scope="col"><h5>VNĐ</h5></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-left:30px">
                        <div class="table-border-style">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"><b>THÔNG TIN LIÊN HỆ</b></th>
                                            <th scope="col">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row"><b>Họ tên</b></td>
                                            <td>@ViewBag.Order.CreateUser</td>
                                        </tr>
                                        <tr>
                                            <td scope="row"><b>Ngày đặt hàng</b></td>
                                            <td>@String.Format("{0:d/M/yyyy}", ViewBag.Order.CreateDate)</td>
                                        </tr>
                                        <tr>
                                            <td scope="row"><b>Địa chỉ</b></td>
                                            <td>
                                                <input name="Address"
                                                       type="text"
                                                       value="@ViewBag.Order.Address"
                                                       class="form-control validate"
                                                       required></input>
                                                @ViewData["Loi7"]
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row"><b>Số điện thoại</b></td>
                                            <td>
                                                <input name="Phone"
                                                       type="text"
                                                       value="@ViewBag.Order.Phone"
                                                       class="form-control validate"
                                                       required></input>
                                                @ViewData["Loi8"]
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row"><b>Email</b></td>
                                            <td>
                                                <input name="Email"
                                                       type="text"
                                                       value="@ViewBag.Order.Email"
                                                       class="form-control validate"
                                                       required></input>
                                                @ViewData["Loi6"]
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row"><b>Giao hàng</b></td>
                                            <td>
                                                <select id="UserId" name="Status" class="custom-select tm-select-accounts">

                                                    @if (ViewBag.Order.Status == true)
                                                    {
                                                        <option value="True" selected>Đã giao hàng</option>
                                                        <option value="False">Chưa giao hàng</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="False" selected>Chưa giao hàng</option>
                                                        <option value="True">Đã giao hàng</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row"><b>Thanh toán</b></td>
                                            <td>
                                                <select id="UserId" name="Paid" class="custom-select tm-select-accounts">

                                                    @if (ViewBag.Order.Paid == true)
                                                    {
                                                        <option value="True" selected>Đã thanh toán</option>
                                                        <option value="False">Chưa thanh toán</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="True">Đã thanh toán</option>
                                                        <option value="False" selected>Chưa thanh toán</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>                                            
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col"><button type="submit" class="btn btn-primary btn-block text-uppercase">Sửa</button></th>                                            
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}