@model CPSeed.Models.Slide

@{
    ViewBag.Title = "EditSlide";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm("EditSlide", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

  
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Edit Slide</h2>
                        </div>
                    </div>
                    <div style="padding-left:20px" class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <form action="" class="tm-edit-product-form">
                                <div class="form-group mb-3">
                                    <label for="name">
                                        Slide ID
                                    </label>
                                    <input style="color:black"
                                           name="SlideID"
                                           type="text"
                                           value="@Model.SlideID"
                                           class="form-control validate"
                                           readonly
                                           required />

                                </div>
                                <div class="form-group mb-3">
                                    <label for="name">
                                        Url
                                    </label>
                                    <input name="Url"
                                           type="text"
                                           value="@Model.url"
                                           class="form-control validate"
                                           required />

                                </div>

                                <div class="form-group mb-3">
                                    <label for="name">
                                        Content
                                    </label>
                                    <textarea id="Content" name="Content">@Model.contents</textarea>
                                </div>
                                <select id="UserId" name="Priority" class="custom-select tm-select-accounts">
                                    @if (Model.Status == true)
                                    {
                                        <option value="true" selected>Hiển thị</option>
                                        <option value="false" >
                                            Không hiển thị
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="false" selected>
                                            Không hiển thị
                                        </option>
                                        <option value="true">Hiển thị</option>

                                    }
                                </select>

                            </form>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            <div style="padding-top:18px" class="custom-file mt-3 mb-3">
                                <input type="text" value="@Model.image" name="picture" id="picture" class="form-control"  readonly style="color:black"/>
                                <input type="file" accept="image/*" id="fileUpload" name="fileUpload" style="display:none" ; />
                                <input type="button"
                                       id="btnUpload"
                                       class="btn btn-success btn-primary btn-block mx-auto "
                                       value="UPLOAD SLIDE IMAGE" />
                                <img src="@Url.Content("~/images/banner/" + Model.image)" id="pictureUpload" width="358" />
                            </div>
                        </div>
                    </div>

                    <div style="padding-top:200px" class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Edit Slide Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section upload
{
    <script>
        $(function () {
            $('#btnUpload').click(function () {
                $('#fileUpload').trigger('click');
            });
            $('#fileUpload').change(function () {
                if (window.FormData !== undefined) {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;
                    var formData = new FormData();
                    formData.append('file', files[0]);
                    $.ajax(
                        {
                            type: 'POST',
                            url: '/Admin/ProcessUpload',
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (urlImage) {
                                $('#pictureUpload').attr('src', urlImage);
                                $('#picture').val(urlImage);
                            },
                            error: function (err) {
                                alert('Có lỗi khi upload ' + err.statusText);
                            }
                        });
                }
            });
        });
    </script>
}


