@model IEnumerable<CPSeed.Models.Product>
@using CPSeed.Models;
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <h2 class="tm-block-title tm-block-title-win">Quản Lý Sản Phẩm</h2>
                <div style="max-height: 525px;" class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">Tên</th>
                                <th scope="col">Danh mục</th>
                                <th scope="col">Giá mua</th>
                                <th scope="col">Giá bán</th>
                                <th scope="col">Ngày đăng</th>
                                <th scope="col">&nbsp;</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                {
                                    CPSeedContext data = new CPSeedContext();
                                    var product = data.Products.Where(n => n.ProductID == item.ProductID).Single();
                                    var producttype = data.ProductTypes.Where(n => n.ProductTypeID == item.ProductTypeID).Single();
                                    int sp = Decimal.ToInt32((decimal)product.SellPrice);
                                    int bp = Decimal.ToInt32((decimal)product.BuyPriceCurrent);
                                    ViewBag.BuyPriceCurrent = sp;
                                    ViewBag.SellPrice = bp;
                                    ViewBag.producttype = producttype.ProductTypeName;
                                }
                            <tr>
                                <td ><p>@item.ProductName</p></td>
                                <td><p>@ViewBag.producttype</p></td>
                                <td>@ViewBag.BuyPriceCurrent VNĐ</td>
                                <td>@ViewBag.SellPrice VNĐ</td>
                                <td><p> @String.Format("{0:d/M/yyyy}", item.CreateDate)</p></td>
                                <td>
                                    <a href="@Url.Action("DeleteProduct", "Admin" , new { id = item.ProductID })" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("EditProduct", "Admin" , new { id = item.ProductID })">
                                        Sửa
                                    </a>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="addproduct"
                   class="btn btn-primary btn-block text-uppercase mb-3">Thêm sản phẩm</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
            <div style="max-height: none;" class="tm-bg-primary-dark tm-block tm-block-product-categories">
                <h2 class="tm-block-title tm-block-title-win">Danh Mục Sản Phẩm</h2>
                <div style="max-height: 525px;" class="tm-product-table-container">
                    <table class="table tm-table-small tm-product-table">
                        @Html.Action("ProductTypes", "Admin")
                    </table>
                </div>
                <!-- table container -->
                <a style="margin-bottom: 0rem!important;" href="AddProductType"
                   class="btn btn-primary btn-block text-uppercase mb-3">Thêm danh mục sản phẩm</a>

            </div>
        </div>
    </div>
</div>