@model PagedList.IPagedList<CPSeed.Models.NewDetail>
@using PagedList.Mvc;
@using PagedList;
@using CPSeed.Util;
<style>

    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }

    .MenuTrang li {
        display: inline;
    }
</style>
<div id="techonogy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all">
                    <h2 class="noo-sh-title" style="color: #005b36; border-bottom: 2.5px solid #789A3D"> Danh sách @ViewBag.name.Title</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="blog-img">
                    <img class="img-fluid" src="~/images/@item.image" alt="">
                </div>
                @{
                    var link = "/chi-tiet-tin/" + Common.str(item.Title) + "-" + item.NewDetailID;

                    var link2 = "/chi-tiet-su-kien/" + Common.str(item.Title) + "-" + item.NewDetailID;
                }
                <div class="blog-content">
                    <div class="wp-content-news" style="margin-top:20px;">
                        @if (item.NewsID == 2)
                        {
                            <a href="@link2" class="content-news-txt">@item.Title</a>
                        }
                        else
                        {
                            <a href="@link" class="content-news-txt">@item.Title</a>

                        }
                        <div class="wp-btn-detail" style="">
                            <div class="btn-detail">
                                <a style="">@ViewBag.name.Title CPSeed</a>
                            </div>
                            <p class="btn-detail-time" style="margin-left:10px">@item.CreateDate</p>
                        </div>
                    </div>

                </div>
            </div>
            }

        </div>
        <div class="MenuTrang" style="text-align:center; padding-top:40px">
            @Html.PagedListPager(Model, page => Url.Action("AllNews", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "techonogy" }))
        </div>
    </div>

</div>