@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("Banner", "Home", new { image = "2.jpg", title = "Truyền Thông" })
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left ">
                    <div class="product-categori ">
                        <div class="filter-sidebar-left menu-right">
                            <div class="title-left">
                                <h2 class="noo-sh-title" style="">TRUYỀN THÔNG</h2>
                            </div>
                            @Html.Action("Communicationcategory", "News")
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right" style="padding-left:50px;">
                    <h2 class="noo-sh-title" style="font-size:32px;color:#005b36;">TRUYỀN THÔNG</h2>
                    <p>CP Seeds cung cấp cho bà con nông dân nhiều sản phẩm hạt giống chất lượng, không chỉ kháng sâu bệnh mà còn cho năng suất và hiệu quả cao. Các sản phẩm của hạt giống CP bao gồm rau, cây trồng trên đồng ruộng và các yếu tố thực vật. Công ty có 13 sản phẩm giống ngô lai tiên tiến, chất lượng cao và 4 sản phẩm ngô ăn có chất lượng tốt nhất. Nó có 2 giống lai năng suất cao cho bông  </p>
                    <br />
                </div>
                @Html.Action("News", "News", new { status = 1 })
                @Html.Action("events", "News")
                @Html.Action("Imagegallery", "News")
            </div>
        </div>
    </div>


