<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>CPS-VN</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">

    <!--Csss -->
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/slick.css" rel="stylesheet" />
    <!--js  -->
    <script src="~/js/aos.js"></script>
    <link href="~/Scripts/jquery.validate.unobtrusive.min.js" rel="stylesheet" />
    <script src="https://cdn.tiny.cloud/1/x863nqkjuo6tfzhecu7j78hea7txwu6n7ky3durf03u5rmc4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    @Styles.Render("~/Contents/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/css/win1.css" rel="stylesheet" />
    <link href="~/css/win2.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MVWHZCR1MF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MVWHZCR1MF');
    </script>
    <script>!function (s, u, b, i, z) { var o, t, r, y; s[i] || (s._sbzaccid = z, s[i] = function () { s[i].q.push(arguments) }, s[i].q = [], s[i]("setAccount", z), r = ["widget.subiz.net", "storage.googleapis" + (t = ".com"), "app.sbz.workers.dev", i + "a" + (o = function (k, t) { var n = t <= 6 ? 5 : o(k, t - 1) + o(k, t - 3); return k !== t ? n : n.toString(32) })(20, 20) + t, i + "b" + o(30, 30) + t, i + "c" + o(40, 40) + t], (y = function (k) { var t, n; s._subiz_init_2094850928430 || r[k] && (t = u.createElement(b), n = u.getElementsByTagName(b)[0], t.async = 1, t.src = "https://" + r[k] + "/sbz/app.js?accid=" + z, n.parentNode.insertBefore(t, n), setTimeout(y, 2e3, k + 1)) })(0)) }(window, document, "script", "subiz", "acqyfndvzizymqqymvai");</script>
</head>
<body>
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav fixed-top">
            <div class="container">
                <!-- Logo -->
                <div class="navbar-header" style="">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/images/logo.png" class="logo" alt="" style=" max-width:300px;"></a>
                </div>
                <!-- Logo -->
                <div class="navMenu">
                    <!-- Giỏ hàng -->
                    <div class="attr-nav" style="width:100%">
                        <!-- Tìm kiếm -->
                        <div class="top-search">
                            <input type="text" class="form-control" placeholder="Search...?" id="myInput" onchange="getInputValue()">
                        </div>
                        <!-- Tìm kiếm -->
                        <ul>
                            <li class="search"><a href=""><i class="fa fa-search"></i></a></li>
                            <li class=""><a>|</a></li>
                            <li class=""><a ><img src="~/images/icons/vn-flag.png" /></a></li>
                            <li class=""><a><img src="~/images/icons/en-flag.png" /></a></li>
                            @{
                                foreach (var i in CPSeed.LanguageMang.AvailableLanguages)
                                {
                                                        <li class="">
                                                            @Html.ActionLink(i.LanguageFullName, "ChangeLanguage", "Home", new { lang = i.LanguageCultureName }, null)
                                                        </li>
                                    
                                }
                            }
                            <li class=""><a>|</a></li>
                            <li class=" ">
                                <a href="@Url.Action("GioHang","Cart")">
                                    <i class="fa fa-shopping-bag"></i>
                                    <b> Giỏ Hàng</b>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Giỏ hàng -->
                    <!-- Thanh điều hướng -->
                    <div class="collapse navbar-collapse" id="navbar-menu" style="width:100%">
                        <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="nav-item "><a class="nav-link" href="~/" style=""> @Resource.Home</a></li>
                            @Html.Action("ProductTypeMenu", "Home")
                            @Html.Action("New", "Home")
                            @Html.Action("Pots", "Home", new { id = 3 })
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Contact")">Liên hệ</a></li>

                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                    <!-- Thanh điều hướng -->
                </div>
            </div>

        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    <div id="multiple">
        @RenderBody()
    </div>
    <!-- cart noti -->
    <div class="cart-noti font-weight-bold  d-none">
        <i class="fas fa-check-circle text-success"></i>
        <span>Đã thêm vào giỏ hàng.</span>
    </div>
    <!-- Start Footer  -->

    <div class="footer-main">
        <div class="container">
            <!-- Footer thông tin liên lạc  -->
            <div class="row">
                @Html.Action("Contacts", "Home")
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Nhận thông tin mới nhất</h3>
                        <form class="newsletter-box">
                            <div class="form-group">
                                <input class="" type="email" name="Email" placeholder="Email Address*">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <button class="btn hvr-hover" type="submit">Gửi</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Fanpage</h3>
                        <ul>
                            <li style="padding-top:10px"><a href="https://www.facebook.com/profile.php?id=100029137628897"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Footer thông tin liên lạc  -->
            <hr>
        </div>
    </div>
    <!-- Footer copy right  -->
    <!-- Footer copy right  -->
    <!-- End Footer  -->
    <!-- Scrips  -->
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/js/slick.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.slider').slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 4,
                prevArrow: '<span class="prev_arrow"><i class="fas fa-angle-left"></i></span>',
                nextArrow: '<span class="next_arrow"><i class="fas fa-angle-right"></i></span>',
            });
        });
    </script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
        });

        function getInputValue() {
            // Selecting the input element and get its value
            var inputVal = document.getElementById("myInput").value;
            var booksDiv = $("#multiple")
            $.ajax({
                url: '/Home/Seach',
                type: 'GET',
                data: { "key": inputVal },
                dataType: 'html',
                success: function (data) {
                    booksDiv.html(data);
                },
                error: function () {
                    alert('Có lỗi xảy ra.')
                }
            });
        }
    </script>
    <script type="text/javascript">
        function AddToCart(item) {

            $('.cart').click(function (event) {
                event.preventDefault();
            });

            var id = $(item).attr('itemid');
            var obj = {
                id: id
            };

            $.ajax({
                url: "/Cart/AddToCart",
                method: "POST",
                data: obj,
                success: function (data) {
                    //$('#cart-counter').text(data);
                    $('.cart-noti').removeClass('d-none');
                    $('.cart-noti').fadeIn();
                    setTimeout(function () {
                        $('.cart-noti').fadeOut();
                    }, 900);
                },
                error: function () {
                    alert('There are some problems to add item.');
                }
            });
        }

        function AddToCartInProductDetails(item) {
            //var id = $(item).attr('itemid');
            //var count = $('.quantity').val();
            var obj = {
                id: $(item).attr('itemid'),
                count: $('.quantity').val().trim()
            };
            $.ajax({
                url: "/Cart/AddToCartInDetails",
                method: "POST",
                data: obj,
                success: function (data) {
                    //$('#cart-counter').text(data);
                    $('.cart-noti').removeClass('d-none');
                    $('.cart-noti').fadeIn();
                    setTimeout(function () {
                        $('.cart-noti').fadeOut();
                    }, 900);
                },
                error: function () {
                    alert('There are some problems to add item.');
                }
            });
        }

        function UpdateQuantity(item) {
            var id = $(item).attr('itemid');
            var count = $(".quantity-" + id).val();
            var obj = {
                id: id,
                count: count
            }
            $.ajax({
                url: '/Cart/UpdateQuantity',
                method: 'POST',
                data: obj,
                success: function (data) {
                    let quantity = $(".quantity-" + id).val();
                    let price = $(".price-" + id).text();
                    let total = quantity * price;
                    $('.total-' + id).text(total.toString());
                    $('.grand-total').text(data.totalMoney.toString());
                },
                error: function () {
                    alert('there is some problem.')
                }
            });
        }

        function totalMoney() {
            $.ajax({
                url: '/Cart/TotalMoney',
                method: 'POST',
                data: null,
                success: function (data) {
                    console.log(data)
                },
                error: function () {
                    alert('there are some problems.')
                }
            });
        }
    </script>
    <script>
        $(window).scroll(function () {
            $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
        });
    </script>
    <script>
        AOS.init();
    </script>
    <!-- Scrips  -->
</body>
</html>