@{
    ViewBag.Title = "Home Page";
}
@Html.Action("Slide", "Home")
<!-- Vision mission  -->
@Html.Action("Vision_mission", "Home", new { id=1})
<!-- End Vision mission -->
<div class="box-add-products">
 @Html.Action("ProductType", "Home")
</div>

<!-- Start Products  -->
@Html.Action("Technology", "Home")
<!-- End Products  -->
@Html.Action("News", "Home")