@model IEnumerable<CPSeed.Models.News>
@{ var link = "/truyen-thong";}
<li class="dropdown">
    <a href="@link" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Truyền thông</a>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            if (item.NewsID == 3)
            {

                <li><a href="@link">@item.Title</a></li>

            }
            else
            {
                var a = "/truyen-thong/" + item.Title + "-" + item.NewsID;
                <li><a href="@a">@item.Title</a></li>
            }
        }
    </ul>
</li>