<style>
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
@if (ViewBag.Status == 2)
{
    <script>
        alert('Nội dung cần tìm không tồn tại');
        self.location = window.location.href;
    </script>
 }
else
{
    if (ViewBag.Status == 1)
    {
        @Html.Action("Banner", "Home", new { image = "2.jpg", title = "Truyền Thông" })
        <div class="shop-box-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left " style="padding-top:20px;">
                        <div class="product-categori ">
                            <div class="filter-sidebar-left menu-right">
                                <div class="title-left">
                                    <h2 class="noo-sh-title" style="">TRUYỀN THÔNG</h2>
                                </div>
                                @Html.Action("Communicationcategory", "News")
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right" style="padding-left:50px;">
                        <h2 class="noo-sh-title" style="font-size:32px;color:#005b36;">TRUYỀN THÔNG</h2>
                        <p>CP Seeds cung cấp cho bà con nông dân nhiều sản phẩm hạt giống chất lượng, không chỉ kháng sâu bệnh mà còn cho năng suất và hiệu quả cao. Các sản phẩm của hạt giống CP bao gồm rau, cây trồng trên đồng ruộng và các yếu tố thực vật. Công ty có 13 sản phẩm giống ngô lai tiên tiến, chất lượng cao và 4 sản phẩm ngô ăn có chất lượng tốt nhất. Nó có 2 giống lai năng suất cao cho bông  </p>
                        <br />
                    </div>

                    <div class="container">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-lg-12">
                                <div class="title-all text-center">
                                    <h2 class="noo-sh-title" style="color: #005b36; float: left; margin-top:50px; border-bottom: 2.5px solid #789A3D">Kết quả tìm được</h2>
                                </div>   
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-6 col-lg-6 col-xl-4" style="margin-bottom:35px">
                                    <div class="blog-img">
                                        <img class="img-fluid" src="~/images/@item.image" alt="">
                                    </div>
                                    <div class="blog-content">
                                        <div class="wp-content-news" style="margin-top:22px;">
                                            <a href="@Url.Action("CT","News", new { id=item.NewDetailID})" class="content-news-txt" style="font-family: fml-bold; font-size: 22px; line-height: 23px; transition: 0.3s; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; color: #161616;line-height:35px">@item.Title</a>
                                            <div class="wp-btn-detail" style=" margin-top: 18px; display: flex; align-items: center; flex-wrap: wrap;">
                                                <div class="btn-detail" style=" margin-right: 0; margin-bottom: 5px;">
                                                    <a style=" color: #363636; background: #ECECEC; font-size: 15px; line-height: 17px; padding:9px 13px; padding-bottom: 8px; display: inline-block; border-radius: 100px; transition: all 0.3s; ">Tin CPSeed</a>
                                                </div>
                                                <p class="btn-detail-time" style="margin-left:10px">@item.CreateDate</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>

                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Action("Banner", "Home", new { image = "3.jpg", title = "Danh mục sản phẩm" })
        <div class="shop-box-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left " style="padding-top:20px;">
                        <div class="product-categori ">
                            <div class="filter-sidebar-left menu-right">
                                <div class="title-left">
                                    <h2 class="noo-sh-title" style="">Danh mục sản phẩm</h2>
                                </div>
                                @Html.Action("ProductType", "Product")
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right" style="padding-left:50px;">
                        @if (ViewBag.name == null)
                        {
                            <h2 class="noo-sh-title" style="font-size:32px;color:#005b36;"> sản phẩm kinh doanh</h2>
                        }
                        else
                        {
                            <h2 class="noo-sh-title" style="font-size:32px;color:#005b36;"> @ViewBag.name.ProductTypeName</h2>
                        }
                        <p>CP Seeds cung cấp cho bà con nông dân nhiều sản phẩm hạt giống chất lượng, không chỉ kháng sâu bệnh mà còn cho năng suất và hiệu quả cao. Các sản phẩm của hạt giống CP bao gồm rau, cây trồng trên đồng ruộng và các yếu tố thực vật. Công ty có 13 sản phẩm giống ngô lai tiên tiến, chất lượng cao và 4 sản phẩm ngô ăn có chất lượng tốt nhất. Nó có 2 giống lai năng suất cao cho bông  </p>
                        <br />
                        <div class="right-product-box">

                            <div class="product-item-filter row">
                                <div class="col-12 col-sm-8 text-center text-sm-left">
                                    <div class="toolbar-sorter-right" style="color: black;">
                                        <span><b style="color: #361800;">Giá thấp → Giá cao</b> </span>
                                        <select id="basic" class="selectpicker show-tick form-control" style="color: #5c8416;" data-placeholder="$ USD" onchange="basic();">
                                            <option value="2">Giá thấp → Giá cao</option>
                                            <option value="3" data-display="Select">Giá cao → Gía thấp</option>
                                        </select>
                                    </div>
                                </div>
                                <b style="margin-right:100px;padding:10px;color: #361800;"> Đã tìm thấy @ViewBag.Count sản phẩm</b>
                            </div>
                            <div class="product-categorie-box" id="product">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                        <div class="row">
                                            @foreach (var item in Model)
                                            {
                                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="products-single fix" style="box-shadow: 0px 0px 15px rgba(0,0,0,0.15);">
                                                        <div class="box-img-hover">
                                                            <img src="~/images/Product/@item.image" class="img-fluid" alt="Image">
                                                            <div class="mask-icon">
                                                                <ul>
                                                                    <li><a style="background-color:#5c8416" href="@Url.Action("productDetail", "ProDuct", new { id = item.ProductID})" data-toggle="tooltip" data-placement="right" title="Xem ngay"><i class="fas fa-eye"></i></a></li>
                                                                </ul>
                                                                <a class="cart" id="@item.ProductID" onclick="AddToCart(this)" style="background-color:#5c8416">Thêm vào giỏ hàng</a>
                                                            </div>
                                                        </div>
                                                        <div class="why-text" style="background: #f5f5f54a">
                                                            <h4>@item.ProductName</h4>
                                                            <h5 style="background-color:#5c8416">@item.SellPrice VNĐ</h5>

                                                        </div>
                                                    </div>
                                                </div>}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Shop Page -->}
}

